extends ../layout 

block content
    h2.m-1 Crea un nuevo Departamento
    form.m-3(action="/departamentos/create", method="POST")
        .form-group 
            label Nombre
            input.form-control(type="text", name="nombre")
        .form-group 
            label Ciudad
            input.form-control(type="text", name="ciudad")
        input.btn.btn-info.btn-block(type="submit", value="Enviar")
        